<footer class="container-fluid backup-footer pt-5 pb-4 no-mt-footer">
	
	<!-- section ajakan -->
	<div class="container mb-5 pb-5 border-bat-footer">
		<div class="row">

			<div class="col-lg-5 col-md-5 col-sm-6">
				<h1 class="title-section white-text pt-5 h1-original-fsz">Tertarik<br>bekerjasama ?</h1>
				<p class="title-sub-section mt-3">Bekerjasama dengan kami untuk mewujudkan aplikasi atau website sesuai dengan keinginan anda</p>
			</div>

			<div class="col-2 d-xs-none"></div>

			<div class="col-lg-5 col-md-5 col-sm-6 pt-5 no-pt-0">
				<p class="pt-5 mt-4 text-center left-text-xs pt-2-xs">
					<a href="" class="button-cek-porto btn-lg text-center">Kontak kami &nbsp;<i class="fas fa-arrow-right"></i></a>
				</p>
			</div>	

		</div>
	</div>
	<!-- section ajakan -->

	<!-- section media footer -->
	<div class="container pt-5 mt-5 pt-2-xs">
		<div class="row">

			<div class="col-lg-5 col-md-12 col-sm-12">
				<p><img src="assets/img/logo-white.png" class="img-logo-footer" alt=""></p>
				<br>

				<div class="d-flex backup-value-footer mb-3">
					<p class="sub-footer">A.</p>
					<p class="value-footer">Hajimena, Natar, Lampung Selatan, Lampung 35143</p>
				</div>

				<div class="d-flex backup-value-footer mb-3">
					<p class="sub-footer">E.</p>
					<p class="value-footer"><a href="">blondev@gmail.com</a></p>
				</div>

				<div class="d-flex backup-value-footer mb-3">
					<p class="sub-footer">W.</p>
					<p class="value-footer"><a href="">+62 852 1100 7997</a></p>
				</div>
			</div>

			<div class="col-1 d-lg-block d-md-none d-sm-none"></div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<p class="title-footer">Tentang</p>
				<br>

				<div class="d-flex backup-value-footer mb-3">
					<p class="value-footer ml-0"><a href="">Beranda</a></p>
				</div>

				<div class="d-flex backup-value-footer mb-3">
					<p class="value-footer ml-0"><a href="">Tentang</a></p>
				</div>

				<div class="d-flex backup-value-footer mb-3">
					<p class="value-footer ml-0"><a href="">Portofolio</a></p>
				</div>

				<div class="d-flex backup-value-footer mb-3">
					<p class="value-footer ml-0"><a href="">Kontak</a></p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<p class="title-footer">Media Kami</p>
				<br>

				<div class="d-flex backup-value-footer mb-3">
					<p class="value-footer ml-0"><a href="">Instagram</a></p>
				</div>

				<div class="d-flex backup-value-footer mb-3">
					<p class="value-footer ml-0"><a href="">Twitter</a></p>
				</div>

				<div class="d-flex backup-value-footer mb-3">
					<p class="value-footer ml-0"><a href="">Facebook</a></p>
				</div>
			</div>

		</div>
	</div>
	<!-- section media footer -->

	<!-- section copyright -->
	<div class="container mt-5 pt-4 pb-2">
		<p class="title-sub-section main-opacity">2021 © Blondev. All rights reserved.</p>
	</div>
	<!-- section copyright -->

</footer>