    <!-- hero section -->
    <div class="container-fluid pt-4 hero-section">
        <div class="row">
            <div class="col-lg-5">
                <h3  class="mt-5 pt-5 title-hero">Mari membangun aplikasi digital bersama kami</h3>

                <p class="sub-title-hero">Mari wujudkan aplikasi atau website sesuai dengan keinginan anda bersama kami</p>

                <p class="mt-5 pt-3">
                    <a href="#" class="button-cek-porto">Lihat portofolio kami&nbsp;<i class="fas fa-angle-down bounce"></i></a>
                </p>

            </div>
            <div class="col-1"></div>
            <div class="col-lg-6 pr-5">
                <p><img src="assets/img/img-tes.png" class="img-fluid img-mod-hero" alt="images-hero"></p>
            </div>
        </div>
    </div>
    <!-- hero section -->