	<div class="container mt-5 mb-5 pb-5">

		<p class="what-we-do">Apa yang kita lakukan ?</p>
		<div class="row">
			<div class="col-lg-4">
				<h2 class="title-section">Solusi terbaik bagi bisnis anda<span class="green-text">.</span></h2>
			</div>
			<div class="col-1"></div>
			<div class="col-lg-7">
				<p class="title-sub-section">Mari bekerjasama dengan kami dalam membangun bisnis anda dengan media digital agar mendapat jangkauan pasar yang lebih luas.</p>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="backup-card-service">
					<div class="card-head-service d-flex">
						<p><img src="assets/img/web-des.svg" width="36" height="36" alt=""></p>
						<p class="name-service">Web Design</p>
					</div>
					<p class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="backup-card-service">
					<div class="card-head-service d-flex">
						<p><img src="assets/img/web-dev.svg" width="36" height="36" alt=""></p>
						<p class="name-service">Web Development</p>
					</div>
					<p class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="backup-card-service">
					<div class="card-head-service d-flex">
						<p><img src="assets/img/android.svg" width="36" height="36" alt=""></p>
						<p class="name-service">Android Apps</p>
					</div>
					<p class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud</p>
				</div>
			</div>
		</div>
	</div>