	<div class="container-fluid mt-5 mb-5 pb-5">

		<div class="col-12 text-center">
			<h2 class="title-section">Layanan kami</h2>
			<p class="title-sub-section mt-2">Mari bangun bisnis digital anda dengan menggunakan layanan kami.</p>
		</div>

		<div class="row mt-5">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="backup-card-service">
					<div class="card-head-service d-flex">
						<p><img src="assets/img/web-des.svg" width="36" height="36" alt=""></p>
						<p class="name-service">Web Design</p>
					</div>
					<p class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="backup-card-service">
					<div class="card-head-service d-flex">
						<p><img src="assets/img/web-dev.svg" width="36" height="36" alt=""></p>
						<p class="name-service">Web Development</p>
					</div>
					<p class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="backup-card-service">
					<div class="card-head-service d-flex">
						<p><img src="assets/img/android.svg" width="36" height="36" alt=""></p>
						<p class="name-service">Android Apps</p>
					</div>
					<p class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud</p>
				</div>
			</div>
			
			
		</div>

	</div>

	<style>
	.title-section {
		color: #221e41;
		font-family: pop-sembold;
	}
	.title-sub-section {
		color: #8d97ad;
		font-size: 19px;
		margin-top: 5px;
		font-family: 'eina';
	}
	.backup-card-service {
		border-radius: 20px;
		border: 1px solid #ddd;
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
		padding: 40px;
	}
	.name-service {
		font-size: 21px;
		margin-left: 15px;
		margin-top: 2px;
		font-weight: bold;
		letter-spacing: 0.3px;
		color: #57546a;
		font-family: eina;
	}
	.card-head-service {
		margin-bottom: 18px;
	}
	.card-content {
		font-family: eina;
		font-size: 18px;
		line-height: 30px;
		letter-spacing: 0.16px;
		color: #8d97ad;
	}
</style>