	<div class="container mt-5 mb-3 pb-5 backup-pb-porto">

		<!-- row -->
		<div class="row" data-aos="fade-up">
			<div class="col-lg-4">
				<h2 class="title-section centering-xs">Portfolio kami</h2>
			</div>
			<div class="col-lg-1"></div>
			<div class="col-lg-7">
				<p class="title-sub-section centering-xs">Mari bangun bisnis anda melalui media digital bersama kami.</p>	
			</div>
		</div>
		<!-- row -->

		<!-- row -->
		<div class="row mt-5 pt-4 backup-row-porto">
			
			<div class="col-12 mb-3 set-mb-xs" data-aos="fade-up">
				<p><a href="">
					<img src="assets/img/foto-projek/salinan-app.png" class="img-fluid img-list-portofolio" alt="">
				</a></p>
			</div>

			<div class="col-lg-6 col-md-6 mb-3 set-mb-xs" data-aos="fade-up">
				<p><a href="">
					<img src="assets/img/foto-projek/app-emonev.png" class="img-fluid img-list-portofolio" alt="">
				</a></p>
			</div>

			<div class="col-lg-6 col-md-6 mb-3 set-mb-xs" data-aos="fade-up">
				<p><a href="">
					<img src="assets/img/foto-projek/app-surat.png" class="img-fluid img-list-portofolio" alt="">
				</a></p>
			</div>

		</div>
		<!-- row -->

		<!-- cta button -->
		<div class="col-12 mt-5 backup-btn-porto" data-aos="fade-up">
			<p class="text-center">
				<a href="portofolio.html" class="more-portofolio">Lihat lebih banyak &nbsp;
					<i class="fas fa-arrow-right"></i>
				</a>
			</p>
		</div>
		<!-- cta button -->

	</div>
